<h1> Hola Mundo</h1>

<h3>Hola</h3>

<h4>Que haces</h4>

<button type="button" (click)="restar()">Restares</button>
<span>{{valores}}</span>
<button type="button" (click)="sumar()">Sumares</button>


<div class="prueba 123"></div>

<input
  type="text"
  minlength="5"
  maxlength="10"
  placeholder="Escribe aquí"
  [(ngModel)]="texto"
/>



<button type="button" (click)="obtenerDatos()">Obtener Datos</button>
<div *ngIf="datos">
  <h5>Datos Obtenidos:</h5>
  <pre>{{ datos | json }}</pre>
</div>

